<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
    <nav class="navbar navbar-expand-md sticky-top py-3 navbar-dark" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon"></span><span><strong>Secret santa</strong></span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/games">Games</a></li>
                    <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul><a class="btn btn-primary text-bg-danger shadow" role="button" href="/logout">Log out</a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col" style="width: 1226px;min-height: 100vh;margin: 67px;border-width: 43px;border-color: rgb(73,72,91);">
            <hr>
            <h1 id="roomName"></h1>
            <p id="roomDeadline"></p>
            <p id="roomStatus"></p>
            <div id="roomError"></div>
            <div id="participantsList"></div>
        </div>
    </div>
    <div class="games-list">
        <div th:each="event : ${events}"></div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/api.js"></script>
    <script src="/assets/js/bold-and-dark.js"></script>
    <script src="/assets/js/room.js"></script>
</body>

</html>